{% extends 'base.html.twig' %}

{% block content %}
    <section class="banner">
        <div class="content">
            <h2>La Où plat raconte chaque histoire d'histoire d'Algérie</h2>
            <p>Un restaurant qui se réfère à la cuisine de la ville d'Annaba...</p>
            <a href="{{ path('menu') }}" class="btn1">Voir le Menu</a>
            <a href="#" class="book-button" onclick="document.getElementById('reservationModal').style.display='block'">Réserver</a>
        </div>
    </section>
{% endblock %}
