{# templates/reservation/success.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avis transmis</title>
</head>
<body>
    <div class="container">
        <h2>Avis transmis</h2>
        <p>Merci pour votre avis.</p>
    </div>
    <a href="{{ path('app_home_page') }}" class="button retour-button">Retour à l'accueil</a>
</body>
</html>