{# templates/avis/successavis.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Avis Envoyé{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/successavis.css') }}">
{% endblock %}

{% block content %}
    <section class="success-section">
        <h1>Merci pour votre avis !</h1>
        <p>Nous avons bien reçu votre avis et nous vous remercions pour votre retour.</p>
        <a href="{{ path('app_home_page') }}" class="button">Retour à l'accueil</a>
    </section>
{% endblock %}
