/* Réinitialisation globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f4f4f4; /* Couleur de fond douce pour le site */
    color: #333;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 2%; /* Espacement autour du contenu */
    z-index: 1000; /* Assure que le header est au-dessus des autres éléments */
    display: flex;
    justify-content: space-between; /* Distribution des éléments aux extrémités */
    align-items: center;
    background: rgba(0, 0, 0, 0.800); /* Fond semi-transparent */
    transition: all 0.5s ease; /* Transition lissée */
}

/* Logo */
.logo {
    font-weight: bold;
    font-size: 2em;
    color: #fff; /* Couleur du logo */
    text-decoration: none;
}

.logo span {
    color: #0dcc50; /* Couleur d'accent pour le logo */
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
    transition: top 0.3s ease; /* Transition fluide pour la navbar */
}

.navbar.hidden {
    top: -100px; /* Cache la navbar en la déplaçant vers le haut */
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #fff; /* Couleur de texte */
    text-decoration: none;
    font-weight: 700;
    padding: 5px 10px;
    transition: all 0.3s ease; /* Transition lisse pour les liens */
    position: relative; /* Pour les effets pseudo-éléments */
}

.navbar a:hover {
    color: #0dcc50; /* Couleur au survol */
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #0dcc50; /* Ligne sous le lien */
    transform: scaleX(0); /* Ligne masquée au départ */
    transform-origin: right; /* Origine de la transformation */
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1); /* Ligne visible au survol */
    transform-origin: left; /* Origine de la transformation inversée */
}

/* Boutons */
.btn-order a,
.custom-button,
.book_button {
    padding: 10px 20px;
    background-color: #0dcc50;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: inline-block;
    margin-left: 10px;
}

.btn-order a:hover,
.custom-button:hover,
.book_button:hover {
    background-color: #07b03a;
}

/* Bannière */
/* Bannière */
.banniere {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/annaba.jpg); /* Dégradé sombre + image de fond */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border-bottom: 5px solid #0dcc50; /* Bordure colorée en bas */
}

/* Titre */
.banniere .contenu h2 {
    font-size: 3.5em; /* Taille du texte plus grande */
    margin-bottom: 25px; /* Espacement ajusté */
    text-transform: uppercase;
    letter-spacing: 3px; /* Espacement des lettres élargi */
    font-weight: 700; /* Poids de police renforcé */
    color: #f4f4f4; /* Couleur du texte ajustée */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Ombre portée */
}

/* Paragraphe */
.banniere .contenu p {
    font-size: 1.5em; /* Taille du texte augmentée */
    margin-bottom: 35px; /* Espacement ajusté */
    line-height: 1.6;
    color: #e0e0e0; /* Couleur du texte ajustée */
    max-width: 80%; /* Largeur maximale */
    margin-left: auto;
    margin-right: auto;
}

/* Bouton */
.banniere .btn-order {
    padding: 18px 36px; /* Espacement du bouton augmenté */
    background-color: #0dcc50; /* Couleur de fond */
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600; /* Poids de police modifié */
    text-decoration: none;
    border-radius: 30px; /* Bordure arrondie */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Ajout de la transition pour l'ombre portée */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Ombre portée */
}

.banniere .btn-order:hover {
    background-color: #07b03a; /* Couleur au survol */
    transform: scale(1.08); /* Effet de zoom au survol */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4); /* Ombre plus marquée au survol */
}


/* Titres et texte */
.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
   
}

.titre-texte span{
    color: #0dcc50;
    font-size: 1.5em;
    font-weight: 700px;
}

/* Sections */
section {
    padding: 100px 20px;
}

/* Colonnes */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row .col50 {
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}

.row .col50 h2 {
    margin-bottom: 20px;
}

.row .col50 img {
    height: 450px;
    width: 600px;
    position: relative;
    box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.8);
}

/* Menu */
.menu {
    margin-top: -100px;
}

.menu .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .contenu .box {
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
}

.menu .contenu .box .imbox {
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .contenu .box .imbox img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .contenu .box .text {
    text-align: center;
    padding: 0 20px 20px;
}

.menu .contenu .box .text h3 {
    text-align: center;
    font-weight: 500;
    color: #000;
}

/* Local */
.local {
    margin-top: -100px;
}

.local .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.local .contenu .box {
    width: 300px;
    margin: 15px;
    border: 5px solid #fff;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.8);
}

.local .contenu .box img {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* Carte */
.carte {
    background-image: url(./images/Instagram.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px;
    color: #fff;
}

.carte .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carte .contenu .box {
    width: 750px;
    margin: 20px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
}

.carte .contenu .box .imbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contact */
.contact {
    background-image: url(/assets/images/le-bnoit-high-resolution-logo-black-transparent.png);
    background-size: cover;
    background-position: center;
    padding: 75px 50px;
    color: #fff;
    text-align: center;
}

.contact .h2 {
    font-size: 1.5em;
}

/* Copyright */
.copyright {
    padding: 20px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background: rgba(228, 222, 222, 0.5);
    text-align: center;
}

.copyright p {
    color: #333;
}

/* Modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 991px) {
    header {
        padding: 10px;
    }

    .navbar {
        display: none;
    }

    header .navbar.active {
        display: flex;
        flex-direction: column;
        background: #fff;
        position: fixed;
        top: 68px;
        left: 0;
        width: 100%;
        height: calc(100% - 68px);
    }

    .menuToggle {
        background-image: url(./images/menu.png);
        background-size: 30px;
    }

    .menuToggle.active {
        background-image: url(./images/close.png);
        background-size: 25px;
    }

    .banniere .contenu h2 {
        font-size: 2em;
    }

    .row .col50 img {
        height: auto;
        width: 100%;
    }

    section {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 20px; /* Réduction du padding pour les petits écrans */
    }

    .logo {
        font-size: 1.5em; /* Réduction de la taille du logo */
    }

    .banniere .contenu h2 {
        font-size: 1.8em;
    }

    .titre-texte {
        font-size: 1.5em;
    }

    .temoignage h2 {
        font-size: 1.2em;
    }
}

/* Footer */
.footer-section {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.socials {
    margin-bottom: 10px;
}

.socials a {
    color: #fff;
    font-size: 1.5em;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: #0dcc50;
}

.footer-section p {
    margin: 0;
}

.footer-section a {
    color: #0dcc50;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}
