/* Réinitialisation globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; 
}

body {
    background-color: #f4f4f4; /* Couleur de fond douce pour le site */
    color: #333;
}

/* Header */
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 2%; /* Espacement équilibré autour du contenu */
    z-index: 1000; /* Augmentation du z-index pour s'assurer qu'il reste au-dessus d'autres éléments */
    display: flex;
    justify-content: space-between; /* Distribution des éléments aux extrémités */
    align-items: center;
    background: rgba(0, 0, 0, 0.800); /* Fond semi-transparent pour le header */
    transition: all 0.5s ease; /* Transition lissée */
}

/* Logo */
.logo {
    font-weight: bold;
    font-size: 2em;
    color: #fff; /* Couleur principale du logo */
    text-decoration: none;
}

/* Accentuation du texte dans le logo */
.logo span {
    color: #0dcc50; /* Couleur d'accent pour le texte du logo */
}

/* Navbar Container */
.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
    transition: top 0.3s ease; /* Ajout d'une transition pour un effet fluide */
}

/* Navbar hidden state */
.navbar.hidden {
    top: -100px; /* Cache la navbar en la déplaçant vers le haut, hors de l'écran */
}

/* Navbar Items */
.navbar li {
    list-style: none;
}

/* Navbar Links */
.navbar a {
    color: #fff; /* Couleur de texte blanche pour un bon contraste */
    text-decoration: none;
    font-weight: 700;
    padding: 5px 10px; /* Ajout d'un padding pour un meilleur clic */
    transition: all 0.3s ease; /* Transition lisse pour les changements de style */
    position: relative; /* Pour permettre l'utilisation d'effets pseudo-élément */
}

/* Navbar Hover Effect */
.navbar a:hover {
    color: #0dcc50; /* Changement de couleur au survol */
}

/* Navbar Active Link Effect */
.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Positionnement de la ligne en bas du lien */
    width: 100%;
    height: 2px;
    background-color: #0dcc50; /* Couleur de la ligne */
    transform: scaleX(0); /* Ligne masquée au départ */
    transform-origin: right; /* Origine de la transformation */
    transition: transform 0.3s ease; /* Transition de l'effet */
}

/* Active Link Effect on Hover */
.navbar a:hover::after {
    transform: scaleX(1); /* Ligne visible au survol */
    transform-origin: left; /* Origine de la transformation inversée */
}

/* Boutons */
.btn-order a,
.custom-button,
.book_button {
    padding: 10px 20px;
    background-color: #0dcc50;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: inline-block;
    margin-left: 10px;
}

.btn-order a:hover,
.custom-button:hover,
.book_button:hover {
    background-color: #07b03a;
}

/* Banniere */
.banniere {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/images/annaba.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}




.banniere .contenu {
    position: relative;
    z-index: 2;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent pour mettre en avant le texte */
    border-radius: 10px;
    animation: fadeInUp 1s ease-in-out; /* Animation légère à l'apparition */
}

.banniere .contenu h2 {
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #0dcc50; /* Couleur d'accent */
}

.banniere .contenu p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #ddd;
}

.banniere .btn-order {
    padding: 15px 30px;
    background-color: #0dcc50;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.banniere .btn-order:hover {
    background-color: #07b03a;
    transform: scale(1.05);
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Titres et texte */
.titre-texte {
    color: #000;
    font-size: 2em;
    font-weight: 300;
    text-transform: capitalize;
}

.titre-texte span {
    color: #0dcc50;
    font-size: 1.5em;
    font-weight: 700;
}

section {
    padding: 100px 20px;
}

/* Colonnes */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row .col50 {
    width: 48%;
    margin-bottom: 20px;
}

.row .col50 img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.8);
}

/* Menu */
.menu {
    margin-top: -100px;
}

.menu .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu .contenu .box {
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
}

.menu .contenu .box .imbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .contenu .box .text {
    text-align: center;
    font-weight: 300;
}

/* Local */
.local .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.local .contenu .box {
    width: 340px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.8);
}

.local .contenu .box .imbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Carte */
.carte {
    background-image: url(./images/Instagram.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px;
    color: #fff;
}

.carte .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carte .contenu .box {
    width: 750px;
    margin: 20px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
}

.carte .contenu .box .imbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contact */
.contact {
    background-image: url(/assets/images/le-bnoit-high-resolution-logo-black-transparent.png);
    background-size: cover;
    background-position: center;
    padding: 75px 50px;
    color: #fff;
    text-align: center;
}

.contact .h2 {
    font-size: 1.5em;
}

/* Formulaire de contact */
.contactform {
    background: #fff;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
}

.contactform h3 {
    color: #111;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.contactform .inputboite input,
.contactform .inputboite textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactform .inputboite input[type="submit"] {
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background: #0dcc50;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    transition: background-color 0.3s ease;
}

.contactform .inputboite input[type="submit"]:hover {
    background: #07b03a;
}

/* Copyright */
.copyright {
    padding: 20px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background: rgba(228, 222, 222, 0.5);
    text-align: center;
}

.copyright p {
    color: #333;
}

/* Modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 991px) {
    header {
        padding: 10px;
    }

    .navbar {
        display: none;
    }

    header .navbar.active {
        display: flex;
        flex-direction: column;
        background: #fff;
        position: fixed;
        top: 68px;
        left: 0;
        width: 100%;
        height: calc(100% - 68px);
    }

    .menuToggle {
        background-image: url(./images/menu.png);
        background-size: 30px;
    }

    .menuToggle.active {
        background-image: url(./images/close.png);
        background-size: 25px;
    }

    .banniere .contenu h2 {
        font-size: 2em;
    }

    .row .col50 img {
        height: auto;
        width: 100%;
    }

    section {
        padding: 20px;
    }

    .contactform {
        margin-left: 10%;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 20px; /* Réduction du padding pour les petits écrans */
    }

    .logo {
        font-size: 1.5em; /* Réduction de la taille du logo */
    }
}

/* Ajout d'un état sticky pour rendre le header plus visible lors du défilement */
header.sticky {
    background: rgba(0, 0, 0, 0.9); /* Fond légèrement plus opaque */
    padding: 15px 30px; /* Ajustement du padding lorsqu'il devient sticky */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); /* Ombre pour le header sticky */
}
    .banniere .contenu h2 {
        font-size: 1.8em;
    }

    .titre-texte {
        font-size: 1.5em;
    }

    .temoignage h2 {
        font-size: 1.2em;
    }

    .contactform {
        margin-left: 5%;
    }
    .footer-section {
        text-align: center;
        padding: 20px;
        background: #333;
        color: #fff;
    }
    
    .footer-section h3 {
        margin-bottom: 10px;
    }
    
    .socials {
        margin-bottom: 10px;
    }
    
    .socials a {
        color: #fff;
        font-size: 1.5em;
        margin: 0 10px;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    .socials a:hover {
        color: #0dcc50;
    }
    
    .footer-section p {
        margin: 0;
    }
    
    .footer-section a {
        color: #0dcc50;
        text-decoration: none;
    }
    
    .footer-section a:hover {
        text-decoration: underline;
    }