/* assets/styles/avis.css */
.avis-form-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 50px;
    background-color: #f9f9f9;
}

.form-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 48%; /* Adjusted to leave space for the map */
    max-width: none;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    margin: 0 10px;
}

.form-group.full-width {
    flex: 1 1 100%;
    margin: 0 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.submit-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Full width for the submit button */
}

.retour-button {
    display: block;
    text-align: center;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button:hover, .retour-button:hover {
    background-color: #333;
}

.map-container {
    width: 48%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
