/* Général */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.8); /* Gris foncé */
    color: #fff; /* Blanc */
}

h1, h2 {
    color: #222; /* Gris très foncé */
}

a {
    color: #0dcc50; /* Vert clair */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Section Hero */
.hero-section {
    background-color: #fff; /* Blanc */
    padding: 50px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Section Avis */
.avis-form-section {
    padding: 50px 0;
    color: #333; /* Gris foncé */
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff; /* Blanc */
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group label {
    color: #333; /* Gris foncé */
}

.form-group input,
.form-group textarea {
    background-color: #f0f0f0; /* Gris très clair */
    border: 1px solid #ccc; /* Gris moyen */
    border-radius: 4px;
    padding: 10px;
    color: #333; /* Gris foncé */
}

.submit-button {
    background-color: #0dcc50; /* Vert clair */
    color: #fff; /* Blanc */
}

.submit-button:hover {
    background-color: #07b03a; /* Vert foncé */
}

/* Bouton Retour */
.retour-button {
    background-color: #0dcc50; /* Vert clair */
    color: #fff; /* Blanc */
}

.retour-button:hover {
    background-color: #07b03a; /* Vert foncé */
}
