body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.8); /* Gris foncé */
    color: #fff; /* Blanc */
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/annaba.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9; /* Ajustez cette valeur pour obtenir la transparence souhaitée */
    z-index: -1; /* Place l'image de fond derrière le contenu */
}
.container {
    height: 400px;
    min-width: 900px; /* Largeur minimale pour éviter trop de rétrécissement */
    max-width: 1000px; /* Largeur maximale pour éviter trop d'élargissement */
}

.contact-form {
    background-color: #333; /* Couleur de fond foncée */
    border: 1px solid #fff; /* Bordure blanche */
    color: #fff; /* Texte blanc */
    padding: 2rem; /* Utilisation de rem pour les espaces internes */
    font-size: 0.875rem; /* Taille de police légèrement réduite */
    border-radius: 0.25rem; /* Arrondir les coins */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3); /* Ombre */
}

.contact-form h2 {
    color: #fff; /* Texte blanc */
}

/* Utilisation des classes Bootstrap pour la disposition du formulaire */
.form-row {
    margin-bottom: 1rem; /* Espace entre les lignes de formulaire */
}

.form-group {
    margin-bottom: 1rem; /* Espace entre les groupes de formulaire */
}

.map-container {
    height: 400px;
    min-width: 900px; /* Largeur minimale pour éviter trop de rétrécissement */
    max-width: 800px; /* Largeur maximale pour éviter trop d'élargissement */
}

.map-container .map {
    width: 100%;
    height: 100%;
    border: none;
}

/* Adaptations pour petits écrans */
@media (max-width: 768px) {
    .contact-form {
        margin-bottom: 1.5rem;
        width: 100%;
    }
    
    .map-container {
        margin-bottom: 1.5rem;
        width: 100%;
    }
}
