body {
    font-family: sans-serif;
    background-color: #448044;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #264526;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: black;
    width: 400px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h2 {
    color: #448044; /* Dark green heading */
    font-size: 24px;
    margin-bottom: 10px;
}

.header p {
    color: #448044; /* Dark green text */
    font-size: 16px;
}

.info {
    margin-bottom: 20px;
}

.info p {
    font-size: 14px;
    line-height: 1.5;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.guest-buttons,
.date-picker {
    display: flex;
    align-items: center;
}

.guest-buttons button,
.date-picker button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}

.guest-buttons button.active,
.date-picker button.active {
    background-color: #448044;
    color: white;
}

.reserve-button {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.reserve-button:hover {
    background-color: #336933; /* Darker green on hover */
}
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}