<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <title>Le Bônoit</title> #}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
</head>
<body>
<header>
    {# <a href="#" class="logo"><span>L</span>e Bônoit</a> #}
    <div class="menuToggle" onclick="toggleMenu()"></div>
    <ul class="navbar">
      <!-- Menu items here -->
    </ul>
    <div class="region-header">
        <a href="#" class="map_button"></a>
    </div> 
</header>

<main>
        {% block content %}{% endblock %}
    </main>

<a href="{{ path('reservation') }}" class="custom-button book_button"><span>R</span>eservation</a>

<script>
    function toggleMenu() {
        const navbar = document.querySelector('.navbar');
        navbar.classList.toggle('open');
    }

    const reservationBtn = document.querySelector(".book_button");

    reservationBtn.addEventListener("click", (event) => {
        event.preventDefault();
        window.location.href = "{{ path('reservation') }}";
    });
</script>
</body>
</html>










 