<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <title>{% block title %}My Symfony App{% endblock %}</title>
    {% block stylesheets %}
        {# Ici vous pouvez ajouter des styles spécifiques à la page #}
    {% endblock %}
</head>
<body>
    <header>
        <div class="menuToggle" onclick="toggleMenu()"></div>
        <nav class="navbar">
            <!-- Menu items here -->
        </nav>
        <div class="region-header">
            <a href="#" class="map_button"></a>
        </div> 
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Bannière de consentement aux cookies -->
    <div id="cookie-banner" style="display: none; position: fixed; bottom: 0; left: 0; width: 100%; background-color: #333; color: white; padding: 10px; text-align: center;">
        <p>
            Nous utilisons des cookies pour améliorer votre expérience sur notre site. 
            <a href="{{ path('app_home_page') }}" style="color: #66ccff;">En savoir plus</a>
        </p>
        <button onclick="acceptCookies()" style="background-color: #0066cc; color: white; border: none; padding: 10px 20px; cursor: pointer;">
            Accepter
        </button>
    </div>

    <script src="{{ asset('scripts/app.js') }}"></script>
</body>
</html>
